#footer {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #4255a4;
  .footer {
    .top {
      display: flex;
      justify-content: space-between;
      .course {
        .title {
            margin-top: 30px;
          color: #fff;
          font-size: 16px;
          line-height: 30px;
        }
        .icons{
            display: flex;
            column-gap: 10px;
            .circle{
                margin-top: 50px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #485AAD;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-brands{
                    color: #fff;
                }
            }
        }
      }
      nav {
        display: flex;
        column-gap: 120px;
        ul {
          h3 {
            font-size: 22px;
            color: #fff;
          }
          li {
            margin-top: 20px;
            a {
              font-size: 16px;
              color: #fff;
              cursor: pointer;
              transition: all 0.2s;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .bottom {
      margin-top: 80px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      .fa-solid {
        color: #ae59ff;
        margin: 0 5px;
        font-size: 19px;
      }
    }
  }
}
